/* Hiển thị dropdown khi hover */
.hover-dropdown:hover .show-on-hover {
  display: block;
}

.hover-dropdown .dropdown-menu {
  display: none;
  margin-top: 0.5rem;
  transition: all 0.2s ease-in-out;
}